  .card { 
    height: 92px;
    background: white;
    width: 62px;
    border-radius: 3px;
    display: flex;
    align-self: start;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 20px;
    position: relative;
    margin-right: 18px;
    border: #999;
  }
  
  .card:not(.facedown) {
      cursor: pointer;
  }
  
  .table-center {
    display: flex;
    flex-direction: row;
    justify-content: space-betweenk;
  }
  
  .card:not(.facedown):hover {
    box-shadow: 4px 4px #9fefe7;
  }
  
  .card.focused:not(.facedown) {
    top: 0px;
    box-shadow: 4px 4px turquoise;
  }
  
  .card.facedown {
    background: turquoise;
  }
  
  .card .red {
    color: #26867C;
  }
  
  .card-head * {
    position: absolute;
    top: 6px;
    line-height: 16px;
  }
  
  .card-foot * {
    position: absolute;
    bottom: 6px;
    line-height: 16px;
  }
  
  .card-head .suit {
    right: 2px;
  }
  
  .card-foot .suit {
    left: 2px;
  }
  
  .card-head .rank {
    left: 2px;
  }
  
  .card-foot .rank {
    right: 2px;
  }
  
  .suit {
    width: 18px;
  }
  
  .hand-of-cards {
    position: relative;
    display: flex;
    margin: 20px;
  }